<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forsiden</title>
</head>
<p>
<header>
    <img class="logo" src="../img/cupcakefactorylogo.png" alt="Her skal være et cupcakefactory logo" width="260" height="75">
    <form class="loginbutton" action="../profilside/vælg-profil.html">
        <button type="submit">Login</button>
    </form>
    <hr>
</header>
<h1 class="best sellers"><ins>Best Sellers!</ins></h1>

<h2 class="byg din egen cupcake overskrift"><strong>Byg din egen cupcake:</strong></h2>
<p class="byg din egen cupcake fyldtekst">Skab din egen <br>drømmecupcake - vælg bund,<br>frosting og toppings, og nyd<br>en unik smagsoplevelse!</p>

<h2 class="chokoladefantasi overskrift"><strong>Chokolade-Fantasi:</strong></h2>
<p class="chokoladefantasi fyldtekst">En fantasifuld<br>rejse gennem en<br> verden af chokolade,<br>hvor smagen af magi møder<br> virkeligheden.</p>

<h2 class="jordbæreventyr overskrift"><strong>Jordbær-Eventyr:</strong></h2>
<p class="chokoladefantasi fyldtekst">En eventyr<br>i hver bid, hvor den intense<br> smag af jordbær møder en<br>himmelsk blanding af cremet<br> glæde.</p>

<h2 class="blåbærbonanza overskrift"><strong>Blåbær-Bonanza:</strong></h2>
<p class="blåbærbonanza fyldtekst">En festlig<br>blanding af søde og saftige<br>blåbær, der får dine smagsløg<br>til af danse af glæde.</p>
</html>