<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forsiden</title>
    <link rel="stylesheet" href="../../public/css/forside.css">
    <link rel="stylesheet" href="../../public/css/indkøbskurv.css">
</head>
<body>
<header>
    <img class="logo" src="../img/cupcakefactorylogo.png" alt="Her skal være et cupcakefactory logo">
    <form class="loginbutton" action="../profilside/vælg-profil.html">
        <button type="submit">Log ind</button>
    </form>
    <div class="indkøbskurv_knap">
        <form action="../indkøbskurv/indkøbskurv.html">
            <button type="submit">indkøbskurv</button>
        </form>
    </div>

</header>

<div class="bestsellers">
    <h1>
        <ins>Best Sellers!</ins>
    </h1>
</div>

<img class="bygselvbillede" src="../img/bygselvcup.png">
<div class="bygselvcupcake">
    <h2 class="byg din egen cupcake overskrift"><strong>Byg din egen cupcake:</strong></h2>
    <p class="byg din egen cupcake fyldtekst">Skab din egen <br>drømmecupcake - vælg bund,<br>frosting og toppings, og
        nyd<br>en unik smagsoplevelse!</p>
    <div class="vælg_cupcake_knap">
        <form action="../indkøbskurv/indkøbskurv.html">
            <button type="submit">Vælg</button>
        </form>
    </div>
</div>

<img class="chokoladebillede" src="../img/chokoladecup.png">
<div class="chokoladecupcake">
    <h2 class="chokoladefantasi overskrift"><strong>Chokolade-Fantasi:</strong></h2>
    <p class="chokoladefantasi fyldtekst">En fantasifuld<br>rejse gennem en<br> verden af chokolade,<br>hvor smagen af
        magi møder<br> virkeligheden.</p>
    <form action="../indkøbskurv/indkøbskurv.html">
        <button type="submit">Vælg</button>
    </form>
</div>


<img class="jordbærbillede" src="../img/jordbærcup.png" ;>
<div class="jordbærcupcake">
    <h2 class="jordbæreventyr overskrift"><strong>Jordbær-Eventyr:</strong></h2>
    <p class="jordbæreventyr fyldtekst">En eventyr<br>i hver bid, hvor den intense<br> smag af jordbær møder en<br>himmelsk
        blanding af cremet<br>glæde.</p>
    <div class="vælg_cupcake_knap">
        <form action="../indkøbskurv/indkøbskurv.html">
            <button type="submit">Vælg</button>
        </form>
    </div>
</div>

<img class="blåbærbillede" src="../img/blåbærcup.png">
<div class="blåbærcupcake">
    <h2 class="blåbærbonanza overskrift"><strong>Blåbær-Bonanza:</strong></h2>
    <p class="blåbærbonanza fyldtekst">En festlig<br>blanding af søde og saftige<br>blåbær, der får dine smagsløg<br>til
        af danse af glæde.</p>

    <div class="vælg_cupcake_knap">
        <form action="../indkøbskurv/indkøbskurv.html">
            <button type="submit">Vælg</button>
        </form>
    </div>
</div>

</body>
</html>