<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createuser</title>
    <link rel="stylesheet" href="../public/css/forside.css">
    <img class="logo" src="img/cupcakefactorylogo.png" alt="Her skal være et cupcakefactory logo" width="260" height="75">

    <form method="get" action="loginpage">
        <button type="submit">Log ind</button>
    </form>

    <hr>
</head>
<body>

<p>Her kan du oprette bruger</p>

<form method="post" action="/createuser">
    <input type="text" name="email" placeholder="Skriv din email"/>
    <input type="text" name="username" placeholder="Skriv brugernavn"/>
    <input type="password" name="password1" placeholder="Skriv adgangskode"/>
    <input type="password" name="password2" placeholder="Skriv adgangskode igen"/>

    <button type="submit">Opret bruger</button>

    <div><p th:text="${message}"></p></div>
</form>



</body>
</html>