<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" th:href="@{css/forside.css}" href="../public/css/forside.css">
</head>

<body>
<header>
<div>

    <div class="loginbutton" th:if="${session.currentUser == null}">
    <form method="get" action="loginpage">
        <button type="submit">Log ind</button>
    </form>
    </div>

    <div><p th:text="${message}"></p></div>

    <div th:if="${session.currentUser != null}">
        <span th:text="${session.currentUser.username}"></span> |
        <a href="index.html" th:href="@{/logout}">Log ud</a>
    </div>
</div>
</header>


<div class = "showingemail" th:if="${session.currentUser != null}">
    <span th:text="${session.currentUser.userMail}"></span> |
</div>

    <img class="bygselvbillede"  src="../images/bygselvcup.png">
    <div class="bygselvcupcake">
        <h2 class="byg din egen cupcake overskrift"><strong>Byg din egen cupcake:</strong></h2>
        <p class="byg din egen cupcake fyldtekst">Skab din egen <br>drømmecupcake - vælg bund<br> og toppings, og
            nyd<br>en unik smagsoplevelse!</p>

        <div class="vælg_cupcake_knap">
            <form method="get" action="designcupcake">
                <button type="submit">Vælg</button>
            </form>
        </div>
    </div>
</div>
    </body>
</html>
