<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <img class="logo" src="../img/cupcakefactorylogo.png" alt="Her skal være et cupcakefactory logo" width="260" height="75">
    <hr>
</head>
<body>

<p>Please login</p>

<form method="post" action="/index.html">
    <input type="text" name="username" placeholder="Enter your username"/>
    <input type="password" name="password" placeholder="Enter your password"/>

    <button type="submit">Log på</button>

    <div><p th:text="${message}"></p></div>
</form>

<div th:if="${session.currentUser != null}">
    <span th:text="${session.currentUser.username}"></span> |
    <a href="index.html" th:href="@{/logout}">Logout</a>
</div>
<p><a href="createuser.html" th:href="@{/createuser}">Create user</a></p>

</body>
</html>